<div id="bt-loading" class="bt-loading block-ui-active" style="z-index: 99;position: absolute; height: 100%; width:100%">
     <div class="bt-loading-wrapper">
          <div class="page-spinner-bar">
               <div class="bounce1"></div>
               <div class="bounce2"></div>
               <div class="bounce3"></div>
          </div>
     </div>
</div>

<style>
     nav.wy-nav-side.stickynav {
          z-index: 98;
     }
</style>